body {
    padding: 0;
    margin: 0;
}

.mntxt {
    margin-top: 2%;
    font-size: 30px;
}
.mntxt hr{
    margin:auto; 
    margin-top: 15px; 
    margin-bottom: 10px; 
    width: 20%;
}
.mntxt p{
    font-weight: 500;
}

.info1 {
    padding-top: 5rem;
    display: flex;
    
}

.png1 {
    width: 50%; 
    height: 45%;
    
}

.png1 img{
    width: 27rem;
    height: 27rem;
}

.txt1 {
    text-align: center;
    height: 25rem;
    width: 30rem;
    font-size: 20px;
    margin-left: 4rem;
}
.txt1 h1 
{
   font-size: 4rem;
   padding: 1rem; 
}
.txt1 p{
    font-size: 1.6rem;
}
.info1 .png1 {
    margin-top: 3rem;
    height: 30rem;
}
.info1 .txt1 {
    margin-top: 3rem;
}

.bgfr{
    background-color: rgb(248, 244, 244);
    width: 100%;
}

.cont-t{
    margin-top: 3%;
}


.info2 {
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
}

.zag2{
    margin-top: 60px;
    margin-left: -400px;
}

.png2 {
    width: 550px;
    margin-left: 10%;
    margin-top: 2%;
    height: 350px;

}
.png2 img{
    width: 400px; 
    height: 450px; 
    margin-top: 45px;
    margin-left: -200px;
}

.txt2 {
    text-align: center;
    height: 550px;
    width: 450px;
    margin-left: 15%;
    margin-right: 10%;
    font-size: 20px;
}
.txt2 .con-1{

    margin-top: 40px;
    margin-left: -150px; 
    margin-right: 200px;

}

.txt2 .con-2{
    margin-top: 40px;
    margin-left: -150px; 
    margin-right: 200px;
}

.info3 {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    
}

.txt3 {
    text-align: center;
    height: 550px;
    width: 450px;
    padding-left: 1rem;
    margin: 3rem;
    
}
.txt3 p{
    font-size: 1.2rem;
    margin-top: 2rem;
}

.png3 {
    margin-left: 5%; 
}

.png3 img{
    width: 640px; 
    height: 450px; 
    
}
.txt3 h1{
    font-size: 2.5rem;
}
.cardP{
    text-align: center; 
    font-size: 40px; 
    margin-bottom: -40px;
}