body{
    padding: 0;
    margin: 0;
}

.mntxt{
    margin-top: 2%;
    font-size: 30px;
    /* text-align: center; */
}

.info1{
    margin-top: 7%;
    margin-left: 15%;
    display: flex;
}

.png1{
    width: 100%;
    height: 100%;
    margin-left: 10%;
}

.txt1{
    text-align: center;
    height: 550px;
    width: 450px;
    margin-left: 15%;
    margin-right: 10%;
    font-size: 20px;
}

/* @media (max-width: 375px){
    .info1{
        margin-left: 10px;
        display: flex;
    }

    .png1{
        width: 250px;
        height: 150px;
    }

    .txt1{
        text-align: center;
        height: 250px;
        margin-left: 10px;
        font-size: 10px;
    }

} */

.info2{
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
}

.png2{
    width: 550px;
    margin-left: 10%;
    margin-top: 2%;
    height: 350px;
}

.txt2{
    text-align: center;
    height: 550px;
    width: 450px;
    margin-left: 15%;
    margin-right: 10%;
    font-size: 20px;
}

.info3{
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
}

.txt3{
    text-align: center;
    height: 550px;
    width: 450px;
    margin-left: 15%;
    margin-right: 10%;
    font-size: 20px;
}

.png3{
    width: 550px;
    margin-left: 5%;
    height: 350px;
}