body{
    padding: 0;
    margin: 0;
}

.firstxt{

}

.info1{
    margin-top: 150px;
    margin-left: 250px;
    display: flex;
}

.png1{
    width: 550px;
    height: 350px;
    margin-left: 100px;
}

.txt1{
    text-align: center;
    height: 550px;
    width: 450px;
    margin-left: 200px;
    margin-right: 220px;
    font-size: 20px;
}

@media (max-width: 375px){
    .info1{
        margin-left: 10px;
        display: flex;
    }

    .png1{
        width: 250px;
        height: 150px;
    }

    .txt1{
        text-align: center;
        height: 250px;
        margin-left: 10px;
        font-size: 10px;
    }

}

.info2{
    display: flex;
}

.png2{
    width: 550px;
    margin-left: 20px;
    margin-top: 80px;
    height: 350px;
}

.txt2{
    width: 450px;
    text-align: center;
    height: 550px;
    font-size: 20px;
    margin-left: 350px;
    margin-right: 200px;
    font-size: 20px;
}