*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}

.navbar{
    position:sticky;
    top:0;
    left:0;
    
    width:100%;
    background: rgb(255, 255, 255);
    z-index:9;
}
.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}
.brand-logo{
    height: 60px;
    align-items: center;
    display: flex;
}
.nav-items{
    display: flex;
    align-items:center;
}
.search{
width: 500px;
display:flex;
}
.search-box{
    width:80%;
    height:40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(199, 196, 196);
    text-transform: capitalize;
    background: none;
    color: rgb(170, 169, 169);
    outline:none;
    
}
.search-btn{
    width: 20%;
    height:40px;
    padding: 10px 20px;
    border:none;
    outline:none;
    cursor:pointer;
    background: rgb(252, 193, 193);
    color: white;
    text-transform: capitalize;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-box::placeholder{
    color:rgb(202, 202, 202);    
}
.nav-items a{
    margin-left: 20px;
    color:rgb(214, 163, 163);
     width:30px;
     font-size: 30px;
}
.links-container{
    width:100%;
    display:flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid rgb(212, 208, 208);
}
.link{
    text-transform: uppercase;
    padding: 0 10px;
    margin:0 5px;
    text-decoration: none;
    font-size: 15px;
   
    color:rgb(116, 80, 80);
    opacity: 0.5;
    transition: .5s;
    letter-spacing: 0;
    
}

.link:hover {
  letter-spacing: 1px;
  opacity: 1;
  color:rgb(207, 111, 127);
  transition: ease-in;
  transition-duration: 0.2s;
  text-decoration: underline;
}