
@import 'nav.css';
@import 'footer.css';

.sub-header2{
    height: 85vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.358)),url(../img/bannerAboutus.jpg);
    background-position-x: -20px;
    background-position:65px;
    background-size: cover;
    text-align: center;
    color:white;
}
.sub-header1{
    height: 85vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.358)),url(../img/bannerNews.jpg);
    background-position-x: -20px;
    background-position:0px;
    background-size: cover;
    text-align: center;
    color:white;
}
.title{
    font-size: 60px;
    padding-top: 200px;
    text-transform: uppercase; 
    color:transparent;
    -webkit-text-stroke:2px white;
}




